*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:#22223b;
    color: #ffd6ff;
    height: 5rem;
    line-height : 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: .7;
    background-color:rgb(234, 139, 255);
}
img:hover{
    cursor: pointer;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap:5rem;
}
#userscore , #compscore{
    font-size: 4rem;
    
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.msgcontainer{
    margin-top: 5rem;
}
#msg{
    background-color:#22223b ;
    color: #ffd6ff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}